@model proyectoSemestralBiblioteca.Models.Editorial

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Editorial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreEditorial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreEditorial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEditorial }) |
    @Html.ActionLink("Back to List", "Index")
</p>
